In [1]:
import selenium
import undetected_chromedriver as uc 
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import requests as rq
import time # del sleep komandos

In [2]:
d= {'A':7,'B':9, 'C':12}
d1 = {'A':5, 'B':11, 'C':15}
data = [d,d1]

df = pd.DataFrame(data=data)
df

   A   B   C
0  7   9  12
1  5  11  15

In [5]:
d = {'AB':np.random.rand(10), 'BC':np.random.randint(10,100,10)}

df = pd.DataFrame(data=d)
df

         AB  BC
0  0.063678  60
1  0.993782  38
2  0.202134  38
3  0.725485  11
4  0.040810  93
5  0.740436  82
6  0.983563  77
7  0.185560  58
8  0.947695  29
9  0.837359  81